// --------------------------//
// Ellipsis.scss
// Add Ellipsis to text
//---------------------------//

%m-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
} //%m-ellipsis