
@mixin bg-stretch-img($max-width) {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	max-width: $max-width;
	padding: 0;
}

%m-full-height-img {	
	display: block;
	height: 100%;
	width: auto;
}

%m-full-width-img {
	display: block;
	height: auto;
	width: 100%;	
}

%m-img-shadow-light {
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.25);
}
