// --------------------------//
// listreset.scss
// Rest UL properties
//---------------------------//

%m-listreset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.u-listreset {
	list-style: none;
	margin: 0;
	padding: 0;	
}
