// --------------------------//
// font.scss
// Font vars
//---------------------------//

// Header fonts
$freightsans: "freight-sans-pro", "Arial", "Helvetica", sans-serif;
// Body fonts
$helvetica: "Helvetica Neue", "Helvetica", "nimbus-sans", "Arial", sans-serif;

// Base font
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,700');

$franklin: 'Libre Franklin', sans-serif;