// --------------------------//
// text.scss
// Text size vars
//---------------------------//
// 
// Body base font size:		16px		15px	//
//
// Text Names				0-767		768+    //

$text-xxs: 0.667em; // 		10.672		10
$text-stream: 0.733em; //	11.728		11
$text-drop: 0.8em; //		12.8		12
$text-xs: 0.867em; // 		13.872		13
$text-sm: 0.933em; // 		14.928		14
$text-md: 1em; // 			16			15
$text-lg: 1.0667em; // 		17.072		16
$text-lake: 1.133em; // 	18.128		17
$text-xl: 1.2em; // 		19.2		18
$text-ocean: 1.333em; // 	21.328		20
$text-whirlpool: 1.467em; //23.472		22
$text-xxl: 1.6em; // 		25.6		24
$text-bay: 1.667em;	//		26.672		25
$text-eddy: 1.8em; //		28.8		27
$text-xxxl: 2em; // 		32			30
$text-glacier: 2.133em; //	34.128		32
$text-ripple: 2.4em; //		38.4		36
$text-sea: 2.666em; //		42.656		40
$text-hero:  2.933em; // 	46.928		44
$text-pool: 3.333em; // 	53.328		50
$text-wave: 4.266em; // 	53.328		50