// --------------------------//
// color.scss
// Color utils
//---------------------------//

// Basic Color Utils
.u-color-multitracks {
	color: $multitracks-color;
}

.u-color-rehersal-mix {
	color: $rehearsalmix-color;
}

.u-color-rehearsalmix {
	color: $rehearsalmix-color;
}

.u-color-charts {
	color: $charts-color;
}

.u-color-shark {
	color: $shark;
}

.u-color-custommix {
	color: $sale-green;
}

.u-color-sale {
	color: $sale-green;
}

.u-color-patches {
	color: $patches-color;
}

.u-color-reader {
	color: $reader;
}

.u-color-white {
	color: $white;
}

.u-color-westar {
	color: $westar;
}

.u-color-mist {
	color: $mountain-mist;
}

.u-color-accompaniment {
	color: $accompaniment-color;
}

.u-color-tapa {
	color: $tapa;
}

.u-bg-multitracks {
	background: $multitracks-color;
}

.u-bg-rehearsalmix {
	background: $rehearsalmix-color;
}

.u-bg-charts {
	background: $charts-color;
}

.u-bg-shark {
	background: $shark;
}

.u-bg-sale {
	background: $sale-green;
}

.u-bg-white {
	background: $white;
}

.u-bg-concrete {
	background: $concrete;
}

.u-opacity-8 {
	opacity: 0.8;
}

.u-opacity-5 {
	opacity: 0.5;
}